/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url("../../images/bg-intro-mobile.png") #ff7979;
  min-height: 100vh;
  width: 100%;
  place-items: center;
  display: grid;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 88px 24px 68px 24px;
}
@media only screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
    max-width: 1110px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -0.291667px;
  color: #ffffff;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
  }
}

.main-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3d3b48;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.try {
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.267857px;
  color: #ffffff;
}
.try .bold-text {
  font-weight: bold;
  margin-right: 5px;
}

.free-trial {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #ffffff;
}

.term-services {
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  color: #bab7d4;
}
.term-services .text-red {
  color: #ff7979;
  font-weight: bold;
}

.message-error {
  color: #ff7979;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  align-self: flex-end;
  margin-top: 6px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 150ms ease-in-out;
}

button {
  cursor: pointer;
}

.free-trial {
  width: 100%;
  height: 56px;
  background: #38cc8b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  border: none;
  margin-bottom: 8px;
  transition: all 250ms ease;
}
.free-trial:hover {
  transform: scale(1.05);
  background: #77e2b3;
}

.input-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.input-container#first-name {
  margin-top: 0;
}
.input-container.active {
  animation: bounceX 250ms linear 150ms 1 alternate;
}
.input-container.active input {
  border-color: #ff7979;
}
.input-container.active .error {
  opacity: 1;
}
.input-container.active .message-error {
  opacity: 1;
  visibility: visible;
  height: auto;
}

form {
  background: #ffffff;
  box-shadow: 0px 8px 0px #00000025;
  border-radius: 10px;
  width: 327px;
  padding: 24px;
  width: 100%;
  max-width: 475px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 56px;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding-left: 19px;
}
input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3d3b48;
}

.error {
  position: absolute;
  right: 17px;
  top: calc(50% - 10px);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.error.last-error {
  top: calc(50% - 20px);
}

.password-error {
  margin-bottom: 20px;
}

@keyframes bounceX {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
main {
  margin-bottom: 64px;
  max-width: 475px;
}
@media only screen and (min-width: 1000px) {
  main {
    max-width: 525px;
    text-align: left;
  }
}

.try {
  background: #5e54a4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 475px;
  height: 88px;
  padding: 0 60px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  transition: all 250ms ease;
}
@media only screen and (min-width: 1000px) {
  .try {
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
