// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/bg-intro-mobile.png") #ff7979;
  min-height: 100vh;
  width: 100%;
  place-items: center;
  display: grid;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 88px 24px 68px 24px;
  @media only screen and (min-width: 1000px) {
    flex-direction: row;
    max-width: 1110px;
    padding: 88px 0px 68px 0px;
  }
}
